<div class="welcomeText"></div>
<form action="http://httpbin.org/post" method="post" id="example-form">
	<input type="text" name="text">
	<label for="email"></label>
	<input type="email" name="email">
	<input type="password" name="password" disabled>
	<input type="checkbox" name="checkbox">
	<textarea name="textarea" id="" cols="30" rows="10"></textarea>
	<input type="submit">
</form>